<h2>List Books</h2>
<a href="books/create">Create New Book</a>
<table border="1">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Author</th>
    <th>Description</th>
    <th colspan="2">Action</th>
  </tr>
  <ng-container *ngFor="let book of books,index as i">
    <tr>
      <td>{{i+1}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td><a href="books/edit/{{book.id}}">Detail</a></td>
      <td><a (click)="delete(book.id)" href="#">Delete</a></td>
    </tr>
  </ng-container>
</table>
